services:
  psql:
    container_name: psql
    image: postgres:16
    environment:
      POSTGRES_DB: "legaltech_test"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "root"
    ports:
      - "5432:5432"
    volumes:
      - psql_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3.12-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    depends_on:
      - products
      - notifications

  products:
    build:
      context: .
      dockerfile: products/Dockerfile
    container_name: products_service
    environment:
      POSTGRES_HOST: psql
      POSTGRES_PORT: 5432
      POSTGRES_DB: legaltech_test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      RABBITMQ_EXCHANGE: products_events
      PRODUCTS_SERVICE_PORT: 8080
    ports:
      - "8080:8080"
    depends_on:
      psql:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: on-failure

  notifications:
    build:
      context: .
      dockerfile: notifications/Dockerfile
    container_name: notifications_service
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      RABBITMQ_EXCHANGE: products_events
      NOTIFICATIONS_SERVICE_PORT: 8081
    ports:
      - "8081:8081"
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: on-failure

volumes:
  psql_data:
  rabbitmq_data:
  prometheus_data:

